* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box; 
  color: black;
  text-decoration: none;
  font-family: serif;
  position: static;
}
body {
  height: 100vh;
  margin: 1.2rem 0.75rem ; /* 14px / 10px */
  background-color: antiquewhite;
}
header {
  height: 60px;
  width: 100%;
  /* background-color: #89fa8979; */
  overflow: hidden;
  transition: all 0.5s linear 0s;
}
header nav {
  height: 100%;
  width: 100%;
  /* background-color: #f89d9d; */
  display: flex; 
  flex-direction: column;
  /* justify-content: space-between;
  align-items: center; */
}
header nav .nav-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .nav-img img {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
.fa-bars {
  font-size: 2rem;
  color: #4f59f8;
}
header nav ul {
  height: 150px;
  width: 100%;
  margin-top: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: pink; */
}

header nav ul li:nth-child(1) {
  background-color: mediumseagreen;
}
header nav ul li {
  background-color: #fdfbd3f2;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
}
header nav ul li a:hover {
  background-color: #000000ca;
  color: white;
}
header nav ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  height: calc(100% - 200px);
  width: 100%;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.parent-display {
  position: relative;
}
.display-time {
  height: auto;
  width: 300px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px #6e6d6c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
}
.display-time1 {
  height: 100px;
  width: 300px;
  font-size: 40px;
  font-weight: 900;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image : linear-gradient(to right, #fc466b, #3F5EFB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.display-time input {
  width: 25%;
  height: 70%;
  font-size: 32px;
  font-weight: 900;
  display: grid;
  place-items: center;
  border: 0.5px solid #80808019;
  background-color: #fff;
  background-image : linear-gradient(to right, #fc466b, #3F5EFB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 10px;
}
.formatting-hours {
  width: 100px;
  height: 40px;
  border-radius: 7px;
  background-color: green;
  display: flex;
  position: absolute;
  top: -40px;
  right: 0;
  
}
#am {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
#pm {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.display-date {
  background-color: #d3d3d31f;
  padding: 10px ;
  text-align: right;
  background-image : linear-gradient(to right, #fc00fc, #00dbde);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer {
  background-color: #faebd7;
  box-shadow: 0px 1.5px 3px 0px black;
  height: 150px;
  width: calc(100% - 50px);
  margin: auto;
  padding-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly;
  align-items: center;
}
.u {
  text-decoration: underline;
  font-style: italic;
  color: dodgerblue;
}
footer img {
  height: 30px;
  width: 30px;
}
#gh-logo {
  height: 50px;
  width: 50px;
}
.social-media-links {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
