* {
    margin: 0;
    padding: 0;
    
    text-decoration: none;
    color: #000;
    border: none;
    outline: none;
    font-family: serif;
}
body {
    height: 100vh;
    margin: 1.2rem 0.75rem; /* 14px / 10px */
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    grid-template-areas:
        "h h h h h h h h h h h h"
        "m m m m m m m m m m m m"
        ". f f f f f f f f f f .";
}
header {
    grid-area: h;
    /* background-color: #f19fb8; */
    min-height: 60px;
    transition: all 0.4s linear 0s;
}
nav {
  width: 100%;
  height: 100%;
  display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "i . . . . . . . . . . b"
    "n n n n n n n n n n n n"
    ;
    justify-content: center;
    overflow: hidden;
    justify-items: center;
    align-items: center;
}
nav img {
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    grid-area: i;
}
.fa-bars {
  font-size: 2rem;
  color: #4f59f8;
  grid-area: b;
}
header nav ul {
  grid-area: n;
  height: 150px;
  width: 100%;
  margin-top: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: pink; */
}

header nav ul li:nth-child(2) {
  background-color: mediumseagreen;
}
header nav ul li {
  background-color: #fdfbd3f2;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
}
header nav ul li a:hover {
  background-color: #000000ca;
  color: white;
}
header nav ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  grid-area: m;
  /* background-color: #6dec6d; */
  height: calc(100vh - 200px);
  width: 100%;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main .timerSetting {
  font-size: 16px;
  padding: 10px 16px;
  /* margin-top: 100px; */
  position: relative;
  
  top: 80px;
  background-color: #2dde2d; 
  border-radius: 5px;
  align-self: flex-end;
  color: #fff;
}
.main .timer-container {
  width: 300px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px #6e6d6c;
  background-color: transparent;
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main .timer-container .timer {
  height: 100px;
  width: 300px;
  font-size: 40px;
  font-weight: 900;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image : linear-gradient(to right, #fc466b, #3F5EFB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.timer-container .timer-box {
  height: 70%;
  width: 25%;
}
.timerDisplayer {
  width: 100%;
  height: 100%;
  font-size: 32px;
  font-weight: 900;
  display: grid;
  place-items: center;
  border: 0.5px solid #80808019;
  background-color: #fff;
  background-image : linear-gradient(to right, #fc466b, #3F5EFB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 10px;
}
main img {
  height: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: linear-gradient(to bottom right, #bebefb, transparent )
}
main img:active, .timerSetting:active, button:active {
  transform: perspective(200px) translateZ(-5px);
}
/* dialog bix design start */
div.message {
    padding: 10px 16px;
    width: 100%;
    aspect-ratio: 1.5 / 1;
    background-color: #fff;
    border-radius: 10px;
    font-family: "Times New Roman";
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .message .set-time {
    width: calc(100% - 10px);
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: #ff2900;
  }
  .message .set-time .input-time {
    width: 70px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    border: none;
  }
  .message .set-time .input-time:focus {
    border: none;
    outline: none;
  } 
  .message .set-time div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .buttons {
    height: auto;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  } 
  .buttons button {
  font-size: 16px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  color: #fff;
  border: none;
  }
  .buttons button:nth-child(1) {
    background-color: #2dde2d; 
  }
  .buttons button:nth-child(2) {
    background-color: #e60808; 
  }
  dialog {
    width: calc(100% - 20px);
    border-radius: 10px;
    border: none;
    transition: all 0.8s linear 0s;
    
  }
  #errorMessage {
    font-size:10px; 
    color:red; 
    position:absolute; 
    top:115px
  }
/* dialog box design end */

.footer {
    grid-area: f;
}
footer {
    background-color: #faebd7;
    box-shadow: 0px 1.5px 3px 0px black;
    height: 150px;
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.u {
    text-decoration: underline;
    font-style: italic;
    color: dodgerblue;
}
footer img {
    height: 30px;
    width: 30px;
}
#gh-logo {
    height: 50px;
    width: 50px;
}
.social-media-links {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}
